.header__logo {
    width: 15%;
    margin-top: 28px;
    margin-left: 48px;
    height: 52px;
}


@media screen and (max-width: 767px) {
    .header__logo {
        margin-left: 16px;
        margin-top: 16px;
        width: 142px;
        height: 42px;
    }
}

@media screen and (max-width: 1023px) {
    .header__logo {
        margin-left: 24px;
    }
}

