.place__paragraphs {
    height: fit-content;
    width: inherit;
    display: grid;
    grid-template-columns: 484px;
}

@media screen and (max-width: 1279px) {
    .place__paragraphs {
        grid-template-columns: 456px;
        height: fit-content;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraphs {
        grid-template-columns: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        grid-template-columns: 288px;
        height: 468px;
        margin-bottom: 50px;
    }
}