.header__link {
    display: flex;
    align-items: flex-end;
    gap: 18px;
    padding-bottom: 5px;
}

@media screen and (max-width: 1023px) {
    .header__link {
        margin-top: 18px;
        margin-right: 0;
        margin-bottom: 6px;
    }
}


@media screen and (max-width: 767px) {
    .header__link {
        margin-top: 0;
        margin-bottom: 3px;
        margin-right: 1px;
    }
}

