.place__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    margin-top: 0;
    height:fit-content;
    margin-bottom: 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin-left: 5%;
        margin-right: 5%;
        grid-column: 1;
        width: 288px;
    }
}