.cover__title {
    margin-top: 0;
    margin-bottom: 32px;
    position: relative;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width: 560px;
    text-align: center;
    z-index: 5;
    pointer-events: none;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        margin: 195px auto 32px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        margin: 115px auto 32px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin: 33px auto 16px;
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}
