.website__link{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: #fff;
    text-decoration: underline;
    opacity: 1;
}
.website__link:hover {
    opacity: 0.8;
}
