.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-auto-rows: repeat(2 , minmax(min-content, max-content));
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px;
        column-gap: 32px;
        margin-left: 6px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        column-gap: 26px;
        margin-bottom: 73px;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: repeat(3 , minmax(min-content, max-content));
        row-gap: 32px;
        column-gap: 0;
        margin-bottom: 50px;
    }
}