.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-auto-rows: minmax(min-content, max-content) 460px;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px;
        grid-template-rows: minmax(min-content, max-content) 440px;
        column-gap: 32px;
        margin-bottom: 80px;
        margin-left: 6px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        grid-template-rows: minmax(min-content, max-content) 340px;
        column-gap: 26px;
        margin-bottom: 174px;
        margin-left: 0;
    }
    .place:nth-child(3) {
        margin-bottom: 122px;
    }

    .place:nth-child(4) {
        grid-template-columns: 345px 340px;
        margin-bottom: 71px;
    }
    .place:nth-child(4) > .place__title {
        white-space: nowrap;
        letter-spacing: .1px;
    }
    .place:nth-child(5) {
        margin-bottom: 140px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        grid-template-rows: 35px 12px 320px;
        column-gap: 40px;
        margin-bottom: 27px;
    }
    .place:nth-child(2) {
        margin-bottom: 0;
    }
    .place:nth-child(3) {
        margin-bottom: auto;
    }
    .place:nth-child(4) {
        grid-template-columns: 320px;
        margin-bottom: 25px;
    }
    .place:nth-child(4) > .place__title {
        letter-spacing: 0;
    }
    .place:nth-child(5) {
        margin-bottom: 0;
    }
}